<h1>The Movie Madness</h1>
<% movie = @movies.order(title: :asc) %>
<% movie.each do |m| %>
    <h3><%= m.title %></h3><br>
    Year: <%= m.year %><br>
    Genre: <%= m.genre %><br>
    
    <%= link_to "View Reviews", review_path(m.reviews) %>

    
<% end %>